body {
    font-family: Roboto, "Roboto";
    display: flex;
    flex-direction: column;
}
header {
    background: #27273e;
    height: 76px;
    margin-bottom: 45px;
}
.navigator {
    margin-bottom: 25px;
}
.subcontent {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    height: 100%;
    margin: 0 auto;
    width: 1060px;   
}

.contacts {
    text-align: right;
    line-height: 25px;
}

.contacts__phone {
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.grapchics {
    color: #b12167;
    font-weight: 500;
}

ul {
    list-style: none;
}
.main {
    font-size: 13px;
    text-transform: uppercase; 
    font-weight: 700;
    color: #b12167;
    letter-spacing: 1px;
}
.menu__main {
    margin-bottom: 30px;
}
.main::before {
    content: "";
    width: 24px;
    height: 18px;
    background: url(../img/main-gray.png) center center no-repeat ;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}


.comment {
    font-size: 13px;
    text-transform: uppercase; 
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
}
.tarifs {
    font-size: 13px;
    text-transform: uppercase; 
    font-weight: 700;
    letter-spacing: 1px;
    color: #b12167;
}
.menu__comment {
    margin-bottom: 30px;
}
.comment::before {
    content: "";
    width: 24px;
    height: 18px;
    background: url(../img/feed-gray.png) center center no-repeat ;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}
.menu__tarifs {
    margin-bottom: 30px;
}
.tarifs::before {
    content: "";
    width: 24px;
    height: 18px;
    background: url(../img/tarifs.png) center center no-repeat ;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}
.tarifs:hover::before {
    content: "";
    background: url(../img/tarifs-gray.png) center center no-repeat;
    transition: 0.2s;
}
.tarifs:hover {
    color: black;
    transition: 0.2s;
}
.comment {
    color: black;
}
.main:hover:before {
    content: "";
    background: url(../img/main.png) center center no-repeat ;
    transition: 0.2s;
}
.main:hover {
    color: black;
    transition: 0.2s;
}
.tarifs:hover:before {
    content: "";
    background: url(../img/tarifs-gray.png) center center no-repeat ;
    transition: 0.2s;
}
.tarifs:hover {
    color: black;
    transition: 0.2s;
}
.comment:hover {
    color: black;
    transition: 0.5s;
}
.maincontent {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.sidebar {
    margin-right: 60px;
    width: 180px;
}
.wrapping {
    display: flex;
    flex-direction: column;
}

.link {
    font-size: 14px;
    color: #27273e;
}
.link-one {
    color: #b12167;
    text-decoration: underline;
}
.comments-list {
    display: flex;
    flex-direction: column;
    width: 880px;
    padding-inline-start: 0px;
}
.pattern-p {
    color: #ffffff;
}
.red-p {
    color:#ec1e79;
}

.commentary {
    display: flex;
     border-bottom: 1px solid #f5f5f5;
     margin-bottom: 30px;
     padding-bottom: 30px;  
}
.commentary-img {
    margin-right: 20px;
}
.pagination-pages {
    display: flex;
    justify-content: center;
}

.pagination__item {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

.pagination__item-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.pagination__item-link-one {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #27273e;
    color: white;
}

.pagination__list {
    color: #000;
    margin-left: 20px;
}
.pagination-choice {
    margin-right: 20px;
}
.pagination__item-link:hover {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #27273e;
    color: white;
}
.pagination__prev {
    color: #bdbcbc;
}
.pagination__next {
    color: #221f1f;
}
.comments-block {
    margin-bottom: 60px;
}
.pagination-number-block {
    margin-bottom: 70px;
}

.pagination__item-link, .pagination__item-link-one {
    line-height: 24px;
}

.pattern-block {  
    
    background: url(../img/pattern.png)   no-repeat ;
    background-size: 100%;
    
    height: 175px;
}

.pattern-text {
    font-size: 18px;
    line-height: 1.667;
    width: 611px;
    height: 77px;
    margin: auto;
}
.request {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    width: 700px;
    height: 430px;
}

.one-strok {
    display: flex;
    margin-bottom: 20px;
}

.input-right {
    height: 45px;
    width: 270px;
    margin-right: 20px;
    padding-left: 10px;
}
.title-form {
    margin-bottom: 10px;
}
.input-for-text {
    width: 580px;
    height: 90px;
}
textarea {
    width: 580px;
    height: 90px;
}
input, textarea {
    border: 1px solid transparent;
    resize: none;
}
textarea:hover {
    border-color: #b12167;
    transition: 0.5s;
}
input:hover {
    border-color:  #b12167;
    transition: 0.5s;
}
input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + label::before {
    content: "";
    border: 1px solid #b12167;
    background-image: url(../img/Ellipse\ 3.png); 
    background-position: center center; 
    background-repeat: no-repeat; 
    transition: 0.1s;
  }

    
 
  .roger {
      margin-right: 20px;
  }
  label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #cacaca;
    background: #f7f7f7;
}
button {
    height: 45px;
    width: 140px;
    border-color: transparent;
    background: #27273e;
    border-radius: 5px;
    float: right;
}
.box {
    width: 560px;
}
.one-strok {
    width: 560px;
}
.label-h {
    font-size: 49px;
    font-weight: bold;
    line-height: 0.776;
    width: 397px;
    height: 36px;
}
.button-text {
    color: white;
}
textarea {
    width: 560px;
    margin-bottom: 20px;
}
.title-box {
    margin-bottom: 12px;
}
.footer-block {
    display: flex;
    align-items: center;
    width: 1060px;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    width: 1060px; 
}
footer {
    min-height: 76px;
    height: 77px;
    background: #27273e;
}
.social-text {
    color: #ffffff;
}
.avtor {
    display: flex;
    align-items: center;
    width: 250px;
}
.avtor-me {
    font-size: 14px;
    color: #a9a9b2;
}
.me, .LoftSchool {
    font-weight: bolder;
    color: #ffffff;
}
.social-contacts {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}
.social-contacts {
    margin-top: 5px;
}
.addiction {
    display: flex;
    
    margin-right: 10px;
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: #d2def3;
    border-radius: 50%; 
}

.vk, .mail, .twitter, .google, .facebook {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}
.addiction:hover {
    background-color: #b12167;
    transition: 0.2s;
    }

.request {
    margin-bottom: 50px;
}