body {
    
    overflow-y: hidden;
    background-image: url(./img/into.png);
    background-size: 100%;
}

a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #ec1e79;
    border: 2px solid #ec1e79;
   padding: 13px 17px;
   font-weight: 700;
   letter-spacing: 2px;
}
.logo {
    margin-bottom: 25px;
}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);   
}
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 3; 
    animation-name: jump;
}
@keyframes jump {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
}


